@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
html {
  font-size: 100%;
}

body {
  background-color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.inner {
  width: 100%;
  display: flex;
  align-items: center;
}

.section-title {
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
.section-title .en {
  display: block;
  font-size: 40px;
  margin-bottom: 4px;
}
.section-title .ja {
  display: block;
  font-size: 18px;
}

.wrapper {
  max-width: 1000px;
  padding: 0 40px;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}
#header .logo {
  width: 40px;
  line-height: 1;
  margin: 0 0 0 160px;
}
#header ul {
  margin-left: 480px;
  display: flex;
  align-items: center;
}
#header li {
  margin-right: 25px;
  font-size: 15px;
  color: #000;
  list-style: none;
}

.contact {
  width: 140px;
  height: 38px;
  line-height: 38px;
  margin-right: 163px;
  background-color: #3FA5F5;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  text-align: center;
}

.mainimage {
  width: 1280px;
  height: 600px;
  position: relative;
  text-align: center;
  margin: 0 auto 53px auto;
}
.mainimage img {
  width: 1000px;
  height: 600px;
}
.mainimage .main-title {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 271px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainimage .sub-title {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 335px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pickup {
  margin-bottom: 125px;
}

#pickup-list {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
#pickup-list article {
  position: relative;
  width: calc(33.3333333333% - 46.6666666667px);
}
#pickup-list img {
  display: block;
  width: 260px;
  height: auto;
}
#pickup-list .pickup-title {
  margin-top: 20px;
  font-size: 18px;
  color: #002B75;
}
#pickup-list .pickup-text {
  margin-top: 15px;
  font-size: 16px;
  color: #000;
}
#pickup-list .pickup-index1 {
  position: absolute;
  padding: 5.5px 12px;
  background-color: #03004D;
  font-size: 14px;
  color: #fff;
  top: 0;
  left: 0;
}
#pickup-list .pickup-index2 {
  position: absolute;
  padding: 5.5px 12px;
  background-color: #008114;
  font-size: 14px;
  color: #fff;
  top: 0;
  left: 0;
}

#news {
  width: 100%;
  height: 568px;
  background-color: #F0F4FA;
  padding: 33px 240px 50px 240px;
  margin-bottom: 53px;
}
#news .table {
  width: 800px;
  border-collapse: collapse;
  display: table;
  margin: 29.5px auto;
}
#news .table, #news .table tr {
  border: 1px solid #707070;
  height: 60px;
}
#news .table .table-day {
  padding-left: 20.5px;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}
#news .table .table-news {
  width: 110px;
  height: 30px;
  background-color: #00A3D9;
  margin-top: 14.5px;
  margin-left: 23px;
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
#news .table .table-event {
  width: 110px;
  height: 30px;
  background-color: #FF5C26;
  margin-top: 14.5px;
  margin-left: 23px;
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
#news .table .table-example {
  width: 110px;
  height: 30px;
  background-color: #03004D;
  margin-top: 14.5px;
  margin-left: 23px;
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
#news .table .table-text {
  font-size: 13px;
  padding: 0 29px 0 20px;
}
#news .button {
  width: 170px;
  height: 45px;
  background-color: #BBBBBB;
  margin: 29.5px auto 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
#news .button:hover {
  opacity: 0.7;
}

#service {
  margin-bottom: 100px;
}
#service .service-list img {
  display: block;
  width: 300px;
  height: auto;
}
#service .service-list h3 {
  font-size: 18px;
  color: #002B75;
  margin: 22px 0 9px 20.5px;
}
#service .service-list ul {
  color: #000;
  padding-left: 40px;
}
#service .service-list li {
  font-size: 16px;
  color: #000;
  padding: 0 20px 0 0;
}
#service .service-list .service-list-top {
  max-width: 1280px;
  padding: 0 140.5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
#service .service-list .service-list-top article {
  position: relative;
  width: 300px;
  height: 400px;
  border: solid 1px #707070;
}
#service .service-list .service-list-bottom {
  max-width: 1280px;
  padding: 0 315.5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
#service .service-list .service-list-bottom article {
  position: relative;
  width: 300px;
  height: 400px;
  border: solid 1px #707070;
}

#footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #000;
}
#footer ul {
  display: flex;
  align-items: center;
  margin-left: 160px;
}
#footer li {
  font-size: 20px;
  color: #fff;
  list-style: none;
  margin-right: 20px;
}
#footer .logo {
  margin: 0 170px 0 auto;
}
#footer img {
  max-width: 40px;
  height: auto;
}/*# sourceMappingURL=style.css.map */